[submodule "third_party/wxWidgets"]
	path = third_party/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
